@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
  box-sizing: border-box;
}

body {
  --color-gray-100: #fcfcfc;
  --color-gray-200: #ebebeb;
  --color-gray-300: #acacac;
  --color-gray-400: #9b9b9b;
  --color-gray-500: #8a8a8a;
  --color-gray-600: #797979;
  --color-gray-700: #686868;
  --color-gray-800: #575757;
  --color-gray-900: #464646;

  --color-green-crayola-100: #d2f898;
  --color-green-crayola-200: #d2f898dd;
  --color-green-crayola-300: #d2f898cc;
  --color-green-crayola-400: #d2f898aa;
  --color-green-crayola-500: #d2f89899;
  --color-green-crayola-600: #d2f89877;
  --color-green-crayola-700: #d2f89855;
  --color-green-crayola-800: #d2f89833;
  --color-green-crayola-900: #d2f89811;

  --color-mindaro-100: #dbf97e;
  --color-mindaro-200: #dbf97edd;
  --color-mindaro-300: #dbf97ecc;
  --color-mindaro-400: #dbf97eaa;
  --color-mindaro-500: #dbf97e99;
  --color-mindaro-600: #dbf97e77;
  --color-mindaro-700: #dbf97e55;
  --color-mindaro-800: #dbf97e33;
  --color-mindaro-900: #dbf97e11;

  --color-maximum-yellow-100: #f6f930;
  --color-maximum-yellow-200: #e7e810;
  --color-maximum-yellow-300: #d6d700;
  --color-maximum-yellow-400: #c5c600;
  --color-maximum-yellow-500: #b4b500;
  --color-maximum-yellow-600: #a3a400;
  --color-maximum-yellow-700: #929300;
  --color-maximum-yellow-800: #818200;
  --color-maximum-yellow-900: #4a4b16;

  --color-black-100: #2f2f2f;

  --color-red-100: #D01313;
  --color-red-200: #D01313dd;
  --color-red-300: #D01313cc;
  --color-red-400: #D01313aa;
  --color-red-500: #D0131399;
  --color-red-600: #D0131377;
  --color-red-700: #D0131355;
  --color-red-800: #D0131333;
  --color-red-900: #D0131311;

  --color-success-100: #a2f0bc;
  --color-success-500: #12bd4b;

  --color-blue-100: #A9CFEF;
  --color-blue-500: #0f324e;
  --color-blue-200: #2061a2;
  --color-blue-300: #318DD8;
  --color-green-400: #23af82;
  --color-green-100: #96dd8a;
  --color-yellow-100: #e2e2a3;
  --color-yellow-300: #ffea56;
  --color-yellow-500: #ffe436;


  --size-1: 0.25rem;
  --size-2: 0.5rem;
  --size-3: 0.75rem;
  --size-4: 1rem;
  --size-5: 1.25rem;
  --size-6: 1.5rem;
  --size-8: 2rem;
  --size-9: 2.25rem;
  --size-10: 2.5rem;
  --size-16: 4rem;
  --size-20: 5rem;
  --size-40: 10rem;

  margin: 0;
  padding: 0;
  color: #252525;
  font-family: 'Inter', sans-serif;
  background-image: url("/images/backgrounds/bg-with-tomatoes.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

}

h1,
h2,
h3 {
  font-family: 'Inter', sans-serif;
}

a {
  text-decoration: none;
  color: var(--color-gray-100);
}

button {
  font: inherit;
  cursor: pointer;
}